@{
    var message = TempData["StatusMessage"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success p-0 alert-dismissible text-center fade show" role="alert">
        @TempData["StatusMessage"]
        <button type="button" class="close btn btn-sm" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}