@{
    ViewData["Title"] = "ConfirmEmail";
}

@if (ViewBag.IsUsed == true)
{
    <span class="text-danger" style="text-align: center;"> <h1>Token Is Already Used!</h1></span>
}
else
{
    <div class="center" style="text-align: center;">
    <h1>Email Confirmed</h1>
    <p>
        Thank you for confirming your email.
    </p>
    </div>
}