@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" style="text-align: center;">Registration successful!</h1>
<br>
<h2 class="text-danger" style="text-align: center;">Before you can Login, please confirm your email, by clicking on the confirmation link that we emailed you!</h2>
