@model Account
@{

    ViewData["Title"] = "Register";
    <link rel="stylesheet" href="~/css/registerNew.css" />
    <script src="https://kit.fontawesome.com/3be89d66c9.js" crossorigin="anonymous"></script>
}

<div class="center">
<div><partial name="_AlertMessage" />
</div>
    

    <h1>Sign Up</h1>
    <form method="post" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="txt_field">
            <input type="email" required name="email" asp-for="Email">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Email</label>
            <span class="text-danger">@ViewBag.accountError</span>
        </div>

        <div class="txt_field">
            <input type="text" required name="fullname" asp-for="FullName">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Fullname</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="password" asp-for="Password">
            <span></span>
            <label><i class="fa fa-lock"></i> Enter your Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="txt_field">
            <input type="password" required name="ConfirmPassword">
            <span></span>
            <label><i class="fa fa-lock"></i> Enter your Confirm Password</label>
        </div>

        <div class="">
            <i class="fas fa-venus-mars"></i><label asp-for="Gender"></label>:
            <input type="radio" id="" asp-for="Gender" value="Male" checked>Male
            <input type="radio" id="" asp-for="Gender" value="Female">Female
            <span asp-validation-for="Gender" class="text-danger"></span>
            <br>
        </div>

        <div class="">
            <i class="fas fa-user-tag"></i><label> Role: </label>
            <input type="radio" id="" asp-for="IsTeacher" value="true">Teacher
            <input type="radio" asp-for="IsTeacher" value="false" checked>Student
            <br>
        </div>

        <div class="txt_field">
            <input type="date" name="Birthday" asp-for="Birthday">
            <span></span>
            <label><i class="fa fa-user"></i> Enter your Birthday</label>
            <span asp-validation-for="Birthday" class="text-danger"></span>
            <span id="BirthdayError" class="text-danger">@ViewBag.BirthdayError</span>
        </div>

        <div class="txt_field">
            <textarea rows="4" cols="40" type="text" required name="Address" asp-for="Address"></textarea>
            <span></span>
            <label><i class="fas fa-address-card"></i> Enter your Address</label>
        </div>

        <input type="submit" value="Register">

        <div class="signup_link" style="cursor: pointer;">
            Already have an account?
            <a asp-controller="Login" asp-action="Index">Sign In</a>
        </div>
    </form>
</div>
