﻿@model Class

@{

    ViewData["Title"] = "Create Class";

    var classNameExist = ViewData["classNameExist"];
}

<h1 class="text-center">Create new class</h1>

<form asp-action="Create" method="POST">
    <div class="row justify-content-center">

        <div class="form-group col-8">
            <label for="subject">Subject: </label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Ex: SWP391" required>
        </div>
        <div class="form-group col-8 mt-3">
            <label for="student-group">Student group: </label>
            <input type="text" class="form-control" id="student-group" name="studentGroup" placeholder="Ex: SE1504"
                required>
        </div>

    </div>

    @if (classNameExist != null)

    {
        <p class="text-center text-danger mt-3">@classNameExist</p>

    }

    <div class="row justify-content-center mt-3">
        <input class="btn col-sm-5 btn-primary" type="submit" value="Create">
    </div>
</form>