﻿@{
    ViewData["Title"] = "Delete Class";
    var delClass = ViewData["delClass"] as Class;
    var members = ViewData["members"] as IQueryable<Account>;
}

<h1 class="display-4 text-center">Delete Class: @delClass.Name</h1>

<table class="table table-bordered table-hover table-striped">
    <caption class="text-center">Members in class</caption>
    <thead class="thead-dark">
    <th>ID</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Address</th>
    </thead>

    <tbody>
    @foreach (var member in members)
    {
        <tr>
            <td>@member.Id</td>
            <td>@member.Email</td>
            <td>@member.FullName</td>
            <td>@member.Gender</td>
            <td>@member.Birthday</td>
            <td>@member.Address</td>
        </tr>
    }
    </tbody>
</table>

<h3 class="text-danger text-center">Do you really want to delete this class?</h3>
<h5 class="text-danger text-center">This action cannot be undo!</h5>

<div class="row justify-content-center">
    <a asp-action="DeleteConfirmed" asp-route-id="@delClass.Id" class="btn btn-danger w-25 mt-3 mb-3">Delete</a>
</div>
<div class="row justify-content-center">
    <a href="/Class" class="btn btn-primary w-25">Cancel</a>
</div>