﻿@model IQueryable<Class>

@{
    ViewData["Title"] = "Classes";
    var account = ViewData["account"] as Account;
}
<div class="container">
@if (account is {IsTeacher: true })
{
    <a class="btn btn-block btn-info mb-3" asp-action="Create">Create Class</a>
}
else
{
    <a class="btn btn-block btn-primary mb-3" asp-controller="Join">Join Class</a>
}
<div class="row">
    @foreach (var item in Model)
      {
        @if (!item.Status) continue;
                        <div class="pt-5 m-auto">                          
                                <div class="card card-custom bg-white border-white border-0">
                                    <div class="card-custom-img"
                                    style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
                                    </div>
                                    <div class="card-custom-avatar">
                                        <img class="img-fluid"
                                        src="~/DeadNote/assets/Traidat.png"
                                        alt="Avatar" />
                                    </div>
                                    <div class="card-body" style="overflow-y: auto">
                                        <h4 class="card-title">@item.Name</h4>
                                        <p class="card-text"> ID : <br>@item.Id.ToString().ToUpper()  
                                    </div>
                                        <div class="text-center mb-2">
                                        <a class="btn btn-primary" asp-controller="Deadline" asp-action="Class" asp-route-id="@item.Id">Deadlines</a>
                                        <a class="btn btn-info" asp-controller="Member" asp-route-id="@item.Id">Members</a>
                                        @if (account is {IsTeacher: true}){
                                             <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        } 
                                        @* else {
                                            <a class="btn btn-danger" asp-action="Leave" asp-route-id="@item.Id">Leave</a>
                                        } *@
                                    </div>
                                </div>
                            </div>
          
     }
     </div>
</div>

  <style>
            .card-custom {
                        overflow: hidden;
                        min-height: 450px;
                        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
                        }

            .card-custom-img {
            height: 200px;
            min-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-color: inherit;
            }

            /* First border-left-width setting is a fallback */
            .card-custom-img::after {
            position: absolute;
            content: '';
            top: 161px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-top-width: 40px;
            border-right-width: 0;
            border-bottom-width: 0;
            border-left-width: 545px;
            border-left-width: calc(575px - 5vw);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: inherit;
            }

            .card-custom-avatar img {
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
            position: absolute;
            top: 100px;
            left: 1.25rem;
            width: 100px;
            height: 100px;
            }
  </style>