@model Account
@{
    ViewData["Title"] = "AddMember";
    var classId = TempData["classId"];
}
<div class="container">
    <form method="post" asp-action="AddMember">
        <label for="member-id">Member ID</label>
        
        <input type="text" id="member-id" class="form-control" name="memberId" required>

        <input type="hidden" value="@classId" name="classId" readonly>

        <br>
        <div class="text-center"><input type="submit" value="Update" class="btn btn-outline-primary">
        <a asp-controller="Member" asp-action="Index" class="btn btn-info">Back to list</a></div>
        
    </form>
</div>
    
