@model Account

@{
  ViewData["Title"] = "Delete";
  var classId = Convert.ToString(ViewData["classId"]);
}
<!-- 
<div class="container">
  <div class="form-group">
    <input type="text" name="memberId" asp-for="@Model.Id" readonly>
  </div>
  <div class="form-group">
    <input type="text" asp-for="@Model.Email">
  </div>
  <input type="text" asp-for="@Model.FullName">
  </div>
  </div>
  <input type="text" asp-for="@Model.Gender">
  </div>
  </div>
  <input type="text" asp-for="@Model.Birthday">
  </div>
  </div>
  <input type="text" asp-for="@Model.Address">
  </div>
</div> -->
<form class="w-50 form-control" style="margin:auto;border:none;">
  <h1 class="text-danger text-center">Delete Member</h1>
  ID: <input class="form-control" type="text" name="memberId" asp-for="@Model.Id" readonly>
  <br>

  Email: <input class="form-control" type="text" asp-for="@Model.Email" readonly>
  <br>

  Full Name: <input class="form-control" type="text" asp-for="@Model.FullName" readonly>
  <br>

  Gender: <input class="form-control" type="text" asp-for="@Model.Gender" readonly>
  <br>

  Birthday: <input class="form-control" type="text" asp-for="@Model.Birthday" readonly>
  <br>
  Address : <input class="form-control" type="text" asp-for="@Model.Address" readonly>
</form>
<div class="row text-center">
  <form asp-controller="Member" asp-action="DeleteMember" method="post">
    <input type="hidden" name="classId" value="@classId">
    <input type="hidden" name="memberId" value="@Model.Id">
    <div class="text-center mt-3">
      <input class="btn btn-primary" type="submit" value="submit" />
      <a asp-controller="Deadline" asp-action="Index" class="btn btn-info">Back to list</a>
    </div>
  </form>
</div>
    

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}
  
