﻿@{
    ViewData["Title"] = "Members";
    var foundClass = ViewData["foundClass"] as Class;
    var isTeacher = Convert.ToBoolean(ViewData["isTeacher"]);
    var members = ViewData["members"] as IEnumerable<Account>;
}

<!-- <div class="row">
    <table class="table table-bordered table-hover table-striped col-8">
        <caption class="text-center">Members in @foundClass.Name</caption>
        <thead class="thead-dark">
            <th>ID</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Address</th>
            @if (isTeacher)
            {
                <th>Action</th>
            }
        </thead>

        <tbody>
            @foreach (var member in members)
            {   
                <tr class="@(member.IsTeacher ? "text-danger" : "")">
                    <td>@member.Id</td>
                    <td>@member.Email</td>
                    <td>@member.FullName</td>
                    <td>@member.Gender</td>
                    <td>@member.Birthday.ToShortDateString()</td>
                    <td>@member.Address</td>
                    @if (!isTeacher) continue;
                    @if (!member.IsTeacher)
                    {
    
                        <td>
                            <a asp-action="Delete" asp-controller="Member" 
                            asp-route-classId="@foundClass.Id" asp-route-memberId="@member.Id">Delete</a> 
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div> -->
<div class="container">
<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Full Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Birthday</th>
      <th scope="col">Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     @foreach (var member in members)
            {   
                <tr class="@(member.IsTeacher ? "text-danger" : "")">
                    <td>@member.Id</td>
                    <td>@member.Email</td>
                    <td>@member.FullName</td>
                    <td>@member.Gender</td>
                    <td>@member.Birthday.ToShortDateString()</td>
                    <td>@member.Address</td>
                    @if (!isTeacher) continue;
                    @if (!member.IsTeacher)
                    {
                        <td>
                            <a class="btn btn-danger btn-sm px-3" asp-action="Delete" asp-controller="Member" 
                            asp-route-classId="@foundClass.Id" asp-route-memberId="@member.Id"><i class="fas fa-times"></i></a> 
                        </td>
                    }
                </tr>
            }
  </tbody>
</table>
</div>

@if (isTeacher)
{
    <div class="row justify-content-center mb-3">
        <a asp-action="AddMember" asp-route-id="@foundClass.Id" class="btn btn-success w-25">Add Member</a>
    </div>
}

<div class="row justify-content-center">
    <a href="/Class" class="btn btn-primary w-25">Back</a>
</div>
