@model Account
@{

    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://kit.fontawesome.com/3be89d66c9.js" crossorigin="anonymous"></script>
}

<div class="center">
    <div><partial name="_AlertMessage" />
</div>
    <h1>Welcome Back</h1>
    <p>Enter your credentials to access your account</p>
    <form method="post" asp-controller="Login" asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="txt_field">
            <input type="email" name="email" asp-for="Email" required>
            <span></span>
            <label><i class="fa fa-envelope"></i> Enter your Email</label>
        </div>

        <div class="txt_field">
            <input type="password" name="password" asp-for="Password" required>
            <span></span>
            <label><i class="fa fa-lock"></i> Enter your password</label>
        </div>

        <input type="submit" value="Sign In">

        <div class="signup_link">
            Not a menber?
            <a asp-controller="Register" asp-action="Register">Signup</a>
        </div>

        <div class="forgot">Forgot your password? <a asp-controller="Login" asp-action="SendPasswordResetLink">Get
                help</a></div>

    </form>

</div>
