@model ResetPasswordViewModel
@{



    ViewData["Title"] = "ResetPassword";
    <link rel="stylesheet" href="~/css/resetPass.css" />
    <script src="https://kit.fontawesome.com/3be89d66c9.js" crossorigin="anonymous"></script>
}


<span style="text-align: center;">@Html.ValidationSummary(false, "", new { @class = "text-danger"})</span>

@if (ViewBag.IsUsed == true)
{
    <span class="text-danger" style="text-align: center;"> <h1>Token Is Already Used!</h1></span>
}

else

{
    <div class="center">
        <h1>Reset Your Password</h1>
        <form asp-controller="Login" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="txt_field form-group">
                <label id="email"><i class="fas fa-envelope"></i>Email<input type="email" name="email" asp-for="Email" readonly></label>
                <span></span>
            </div>
            <br>
            <div class="txt_field">
                <input type="password" name="password" asp-for="Password" required>
                <span></span>
                <label><i class="fa fa-lock"></i> Enter your password</label>
            </div>

            <div class="txt_field">
                <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" required>
                <span></span>
                <label><i class="fa fa-lock"></i> Confirm your password</label>
            </div>
            <div class="txt_field" >
                <span></span>
                <label><i class="fa fa-lock"></i>Token: <input type="text" name="Token" asp-for="Token" readonly></label>
            </div>
            <br>
            <br>

            <input type="submit" value="Reset Password">

        </form>
    </div>

}
