@{

    ViewData["Title"] = "SendPasswordResetLink";
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://kit.fontawesome.com/3be89d66c9.js" crossorigin="anonymous"></script>
}


<span class="text-danger text-center">@ViewBag.Message</span>

<div class="center">
    <h1>Reset Your Password</h1>
    <form asp-controller="Login" asp-action="SendPasswordResetLink" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label><i class="fa fa-envelope"></i> Enter your Email</label>
        </div>

        <input type="submit" value="Reset Password">

    </form>
</div>
