@{
    ViewData["Title"] = "About";
}

 <!-- Main Content-->
        @* <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>We are a team and this is our product that has been through effort and cooperation.
                            is a project with the aim of minimalism, bringing consideration into the lives of students</p>
                    </div>
                </div>
            </div>
        </main> *@

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
        <p class="lead text-muted mb-0">We are a team and this is our product that has been through effort and cooperation.
is a project with the aim of minimalism, bringing consideration into the lives of students.</p>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Time</h2>
        <p class="font-italic text-muted mb-4">The project was launched in August
and completed after 2 months of active work</p><a class="btn btn-light px-5 rounded-pill shadow-sm"  asp-controller="Home" asp-action="Index">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Technology</h2>
        <p class="font-italic text-muted mb-4">
The project is based on ASP .NET MVC technology and integrates some other features</p><a  class="btn btn-light px-5 rounded-pill shadow-sm"  asp-controller="Home" asp-action="Index">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Members of DeadNote</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.6435-1/c336.94.652.653a/s160x160/244392221_3101120140164999_8799296202318582474_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=FznWUon66JkAX8S2Suf&_nc_ht=scontent.fsgn5-8.fna&oh=b9f890b2d7ae3c4d5541a09641355c77&oe=61AED343" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Lý Nguyễn Hoàng Phúc</h5><span class="small text-uppercase text-muted">FullStack DEV</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.18169-9/14368904_524763087722218_4467988182457489233_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=h0OOc-92aIsAX-A6bo5&_nc_ht=scontent.fsgn5-10.fna&oh=5ddb2505c9ba5a30e5bb7c153f8d396d&oe=61B03658" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nguyễn Tường Thành</h5><span class="small text-uppercase text-muted">FullStack DEV</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t1.6435-9/154253647_2868140283449539_5513306635454937186_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=59hRrn4xVEcAX-yl2Pe&tn=b2D57LqF7xQS5sR8&_nc_ht=scontent.fsgn5-11.fna&oh=4e4659c6b665d7cebad42b86542fc187&oe=61ADB9F7" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Lê Hoàng Quốc Bảo</h5><span class="small text-uppercase text-muted">FullStack DEV, PM</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.6435-1/p200x200/244420902_3107479202868040_2361608596882038171_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=7206a8&_nc_ohc=VNS2VYrHxHwAX_Y46iV&_nc_ht=scontent.fsgn5-10.fna&oh=f7bca10b8a8d1c73bfe3454ecdde6f17&oe=61AD16A5" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Phạm Minh Nhí</h5><span class="small text-uppercase text-muted">Backend DEV</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.6435-1/p200x200/207973108_762667147749925_5138336964165637338_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=7206a8&_nc_ohc=Go_i79xdFrcAX8TPz2S&_nc_ht=scontent.fsgn5-6.fna&oh=e01c5621a3b82d4e117edde756eb6960&oe=61ADA920" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Trần Minh Nguyệt</h5><span class="small text-uppercase text-muted">BA</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.6435-9/48426718_2040134459620573_3965320047701786624_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=VFMsjQHjU08AX-XTMcW&_nc_oc=AQkycKD2-nh7YQpgsj0f8kbxiWS0IvSY-R9FZKpfy4kzJFbsOYqEtkPeXAIvRHKEp2mW31Ntjq5kXy7dXbDADNon&tn=b2D57LqF7xQS5sR8&_nc_ht=scontent.fsgn5-5.fna&oh=aa370b98b5bd9967deff08ad24d34786&oe=61B11F5B" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nguyễn Khánh Hưng</h5><span class="small text-uppercase text-muted">Tester</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>