﻿@{

  ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

  <div style="text-align: center;">
    <h1>Get Start With Your Deadline</h1>
    <div class="text-center">
      @if (string.IsNullOrEmpty(TempData["uid"]?.ToString()))
      {
           <p class="lead">Come on sign up!</p>
        <a class="btn btn-primary btn-lg mr-2" asp-action="Register" asp-controller="Register">Register</a>
        <a class="btn btn-info btn-lg" asp-action="Index" asp-controller="Login">Login</a>

      }else {
        <a class="btn btn-info btn-lg" asp-action="Logout" asp-controller="Login">Logout</a>
      }

    </div>
  </div>

</div>
