@model Deadline
@{
    ViewData["Title"] = "Create";
}
    
<form class="w-50" method="post" asp-action="Create" style="margin:auto;">

    ClassID: <input type="text" required class="form-control" name="classID" value="@ViewBag.classID" readonly>
    <br>

    Title : <input type="text" required class="form-control" name="Title" value="@ViewBag.title1">
    <br>

    Content: <input type="text" required class="form-control" name="Content" value="@ViewBag.content">
    <br>

    StartDate:
    <input type="Time" required class="form-control" name="StartTime" value="@ViewBag.startTime">
    <input type="Date" required class="form-control" name="StartDate" value="@ViewBag.startDate">
    <span class="text-danger">@ViewBag.StartDT</span>
    <br>

    EndDate:
    <input type="Time" required class="form-control" name="EndTime" value="@ViewBag.endTime">
    <input type="Date" required class="form-control" name="EndDate" value="@ViewBag.endDate">
    <span class="text-danger">@ViewBag.EndDT</span>
    <br>

    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-outline-primary">
        <a asp-controller="Deadline" asp-action="Index" class="btn btn-info">Back to list</a>
    </div>
</form>




@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}