@model Deadline
@{
    ViewData["Title"] = "Delete";
}
<form class="w-50" method="post" asp-action="Delete" style="margin:auto;">
    <label asp-for="Title"></label> : <input type="text" readonly class="form-control" asp-for="Title">
    <span asp-validation-for="Title" class="text-danger"></span>
    <br>

    <label asp-for="Content"></label> <input type="text" readonly class="form-control" asp-for="Content">
    <span asp-validation-for="Content" class="text-danger"></span>
    <br>

    <label asp-for="StartDate"></label> <input type="Date" readonly class="form-control" asp-for="StartDate">
    <span asp-validation-for="StartDate" class="text-danger"></span>
    <br>

    <label asp-for="EndDate"></label> <input type="Date" readonly class="form-control" asp-for="EndDate">
    <span asp-validation-for="EndDate" class="text-danger"></span>
    <br>

    <div class="text-center">
        <h3 class="text-danger mb-3">Are you really want to delete?</h3>
        <input type="submit" value="Delete" class="btn btn-outline-primary" />
        <a asp-controller="DeadLine" asp-action="Index" class="btn btn-info">Back to list</a>
    </div>
</form>
