﻿@model PaginatedList<Deadline>

@{
    ViewData["Title"] = "Deadline";
    var account = ViewData["account"] as Account;
}
<link rel="stylesheet" href="~/css/Deadline.css" type="text/css" />
<partial name="_AlertMessage" />
<h2 class="text-center">DEADLINE</h2>


<hr>
<div class="container">
    <div class="row"></div>
    @foreach (var item in Model)

    {
        <div class="col-md-12">
            <div class="card text-white bg-dark mb-3 shadow-lg p-3" style="max-width: 100%;">
                <div class="card-body">
                    <h3 class="card-title text-center">Title : @item.Title</h3>
                    <hr style="background-color: white;">
                    <p class="card-text">Content: @item.Content</p>
                    <p class="card-text">Time Start ⌛: @item.StartDate</p>
                    <p class="card-text">Date Start ⏳: @item.EndDate</p>
                    @* @if (account is { IsTeacher: true })
                    {
                    <div class="d-flex justify-content-end">
                        <a asp-controller="DeadLine" asp-action="Update" asp-route-Id="@item.Id"
                        class="btn green">Update</a>
                        <a asp-controller="DeadLine" asp-action="Delete" asp-route-Id="@item.Id" class="btn red"
                        style="margin-left:20px">Delete</a>
                    </div>
                    } *@
                </div>
            </div>
        </div>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="d-flex justify-content-center">
        <a asp-action="Index" style="margin-right:20px;" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-secondary btn-lg @prevDisabled">
            Previous
        </a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-secondary btn-lg @nextDisabled">
            Next
        </a>
    </div>
</div>
</div>
</tbody>
