@model Deadline
@{
    ViewData["Title"] = "Update";
    var obj = ViewData["obj"] as Deadline;
    var startTime = obj.StartDate.ToString("HH:mm");
    var endTime = obj.EndDate.ToString("HH:mm");

    var startDate = obj.StartDate.ToString("M/dd/yyyy");
    var endDate = obj.EndDate.ToShortDateString();
}

<form class="w-50" method="post" asp-action="Update" style="margin:auto;">

    Title : <input type="text" required class="form-control" name="Title" value="@Model.Title">
    <br>

    Content: <input type="text" required class="form-control" name="Content" value="@Model.Content">
    <br>

    StartDate:
    <input type="Time" class="form-control" required name="StartTime" value="@startTime">
    <input type="Date" class="form-control" required name="StartDate" value="@Model.StartDate">
    <br>

    EndDate:
    <input type="Time" class="form-control" required name="EndTime" value="@endTime">
    <input type="Date" class="form-control" required name="EndDate" value="@Model.EndDate">
    <br>

    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-outline-primary">
        <a asp-controller="Deadline" asp-action="Index" class="btn btn-info">Back to list</a>
    </div>

</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}