#buttons {
  padding-top: 50px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  /* color: #fff; */
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
  background-color: #48e68b;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #ce3323;
}

.red:hover {
  background-color: #ff6656;
}

.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-duration: 0.25s;
  border-left: 10px solid #ff6656;
  transition: all 0.4s ease-in-out;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
