body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  background: #f2f6ff;
  height: 120vh;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  color: #415f7f;
}

.center p {
  text-align: center;
  color: #adadad;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  margin: 40px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #7fa0f3;
  background: none;
  outline: none;
  border-radius: 10px;
}

.fa-envelope {
  color: #267fff;
  margin-right: 5px;
}

.fa-lock {
  color: #267fff;
  margin-right: 5px;
}

.fa-user {
  color: #267fff;
  margin-right: 5px;
}

.fa-check {
  color: #267fff;
  margin-right: 5px;
}

.fa-venus-mars {
  color: #267fff;
  margin-right: 5px;
}

.fa-map-marked-alt {
  color: #267fff;
  margin-right: 5px;
}

.fa-user-tag {
  color: #267fff;
  margin-right: 5px;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #727b9a;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  margin-left: 5px;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -8px;
  color: #2691d9;
}

.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label {
  top: -10px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.forgot {
  text-align: center;
  margin-bottom: 20px;
  color: #727b9a;
}

.forgot a {
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #267fff;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}
