﻿@{
    ViewData["Title"] = "Join Class";
}
<div class="container">
<div class="row justify-content-center align-items-center">
    <div class="col">
        <h1 class="text-center">Join a class</h1>
        <form asp-action="Index" method="POST">
            <div class="form-group align-items-center justify-content-center mt-3 mb-3">
                <input name="classId" class="form-control col-5" type="text" id="class-id" placeholder="Please enter class ID" required/>
            </div>
            <div class="row justify-content-center">
                <input type="submit" value="Submit" class="btn btn-primary w-25">
                <a class="btn btn-danger w-25" asp-controller="Class" asp-action="Index">Back</a>
            </div>
           
        </form>
    </div>
</div>
</div>
